# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Data (optional large files)
data/processed/
data/embeddings/

# FAISS index
*.index

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/